@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif!important;
    letter-spacing: 0.5px;
}

body, body p {
    font-family: 'Poppins', sans-serif!important;
    letter-spacing: 0.5px;
}

.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

#contact-us span.title {
    font-size: 160px;
}

#contact-us h2 {
    color: #7D2A80;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
}

#contact-us .social li {
    width: 100px;
    height: 100px;
}

#contact-us ul.social {
    margin-top: 40px;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    padding: 0px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.heading {
    font-family: 'Martel', serif;
    font-size: 40px;
}

.btn {
    background-color: #1fca4f;
    color: white;
    margin: 0 auto;
    max-width: 220px;
    display: block;
    border-radius: 3px;
    line-height: 50px;
    text-decoration: none;
    border-bottom: 5px solid #158835;
    position: relative;
}

.Top, .Start {
    background: #fff;
}

.Top .Top-heading, .Start .Top-heading {
    font-size: 80px;
    margin: 0;
    line-height: 1;
}

.Top .Top-text, .Start .Top-text {
    font-size: 16px;
    line-height: 1;
    margin: 0 0 40px;
    position: relative;
    top: -5px;
    font-family: 'Martel', serif;
}

.Top .chevron, .Start .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.Top .chevron:first-child, .Start .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.Top .chevron:nth-child(2), .Start .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.Top .chevron:before, .Top .chevron:after, .Start .chevron:before, .Start .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.Top .chevron:before, .Start .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.Top .chevron:after, .Start .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.Top .text, .Start .text {
    display: block;
    margin-top: 50px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .8;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.NojQ {
    background: #fff;
}

.Keypress {
    background: #fff;
}

.Scroller {
    background: #fff;
}

.Scroller .outer {
    height: 150%;
}

.Scroller .Scroller-box {
    height: 200px;
    overflow: auto;
    border: 2px solid white;
    -webkit-overflow-scrolling: touch;
}

.Links {
    background: #fff;
    text-align: right;
}

#Links p {
    text-align: right;
}

#Links a, #NojQ a {
    float: right;
}

.Start {
    background: #fff;
}

.ib {
    display: inline-block;
}

.skills {
    background: #fff;
}

.contact-us {
    background: #fff;
}

section#contact-us {
    text-align: center;
}

#contact-us h2 {
    color: #7D2A80;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
}

#contact-us h2 span {
    color: #F05879;
}

.page span.title {
    position: absolute;
    left: 0px;
    top: 30px;
    font-style: normal;
    right: 0px;
    font-weight: 700;
    font-size: 115px;
    font-family: 'Poppins', sans-serif!important;
    letter-spacing: 0.08em;
    opacity: 0.09;
    line-height: 353px;
    color: #F05879;
}

.container {
    width: 100%;
}

.page {
    padding-top: 140px;
    padding-bottom: 100px;
}

#contact-us h6 {
    color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
}

ul.social {
    list-style-type: none;
    padding-left: 0px;
    margin: 0 auto;
    text-align: center;
    width: auto;
}

.social li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
}

.active a {
    color: #f05879f7!important;
}

.social a img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    margin: 0 auto;
}

.social li a {
    color: #fff;
    position: relative;
}

.social a {
    overflow: hidden;
    width: auto;
    height: auto;
}

.page li a:hover, .page a:hover {
    color: #F05879!important;
}

.social a:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
}

.footer p {
    color: #000;
}

.bf {
    content: ' ';
    position: absolute;
    display: inline-block;
    transform: rotate(64deg);
    top: auto;
    height: 100%;
    bottom: -500px;
    width: 200px;
    background-position: left;
    background-repeat: no-repeat;
    left: -84px;
    text-align: left;
    right: 0px;
    z-index: 999;
    margin-right: 0px;
    background-size: contain;
}

.af {
    content: ' ';
    top: -113px;
    bottom: auto;
    position: absolute;
    display: inline-block;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    right: -70px;
    left: auto;
    text-align: right;
    width: 200px;
    z-index: 999;
    transform: rotate(250deg);
    margin-right: 0px;
    background-size: contain;
}

#contact-us {
    padding-bottom: 0px;
    overflow: hidden;
}

.content h2 {
    font-size: 50px;
    color: #752B82;
    font-weight: 700;
}

.content h5 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

.content p {
    line-height: 24px;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.container {
    width: 100%!important;
}

#Start .col-md-3:nth-of-type(1) img, #Keypress .col-md-3:nth-of-type(1) img {
    float: right;
    margin-top: 80px;
}

.rightimg {
    margin-top: 90px;
    float: right;
    margin-right: 0px;
}

.right {
    position: absolute;
    right: -253px;
    top: 20px;
}

.right img {
    width: 35%;
    display: block;
    right: 0px;
    float: none;
    right: 0px;
    top: 0px;
}

body, #Start, #Keypress, #Links, #NojQ {
    overflow-x: hidden;
}

.bff {
    top: -97px;
    left: -170px;
    position: absolute;
    width: 180px;
    transform: rotate(92deg);
}

#Start .col-md-6:nth-of-type(1), #Keypress .col-md-6:nth-of-type(1) {
    padding: 100px;
    padding-bottom: 0px;
}

p.no {
    font-style: normal;
    font-weight: 500;
    opacity: 0.1;
    font-size: 150px;
    text-align: left;
    clear: left;
    margin-top: 170px;
}

.content a {
    border: 1px solid #752b82;
    box-sizing: border-box;
    border-radius: 20px;
    float: left;
    position: relative;
    background: #752b82;
    cursor: pointer;
    z-index: 9999;
    margin-top: 15px;
    padding: 10px 20px;
    color: #fff!important;
    font-weight: 700;
}

#Top ul {
    list-style-type: none;
    padding-left: 0px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

#Top li {
    display: inline-block;
    margin-right: 10px;
}

#Top li a {
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    text-transform: uppercase;
    padding: 8px 30px;
    color: #7d2c82!important;
    font-weight: bold;
    background: #fcdee4;
    font-size: 12.8205px;
    line-height: 19px;
    display: block;
}

.active a {
    color: #f05879f7!important;
}

.sec2 {
    text-align: center;
    padding-top: 0px;
    position: relative;
}

.sec2 h3 {
    color: #752B82;
    font-size: 100px;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 77px;
    margin-bottom: 10px;
}

.sec2 h3 span {
    display: block;
    margin-left: 160px;
    font-size: 70px;
    color: #F05879;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.sec2 p {
    color: #752B82;
    font-style: italic;
    font-size: 21px;
    display: inline-block;
    margin-top: 13px;
    font-weight: 500;
    text-align: center;
}

.sec2:before {
    content: ' ';
    background: url(../images/liquid-1.png);
    position: absolute;
    display: inline-block;
    transform: rotate(65deg);
    top: 0px;
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    left: 0px;
    text-align: left;
    transition: 5s;
    right: auto;
    z-index: 999;
    margin-right: 0px;
    background-size: contain;
}

.sec2:after {
    content: ' ';
    top: 0px;
    background: url(../images/liquid-1.png);
    position: absolute;
    display: inline-block;
    height: 100%;
    transform: rotate(-70deg);
    background-position: right;
    background-repeat: no-repeat;
    right: auto;
    left: 0px;
    text-align: left;
    z-index: 999;
    margin-right: 0px;
    background-size: contain;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 145px;
    top: 25px;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    background-position: center;
    transform: rotate(17deg);
    right: 10px;
    background: url(../images/humberger.png);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    background-size: contain;
}

.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 50%;
    transform: rotate(181deg);
    margin: 0 auto;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span {
    display: block;
    position: absolute;
    width: 50%;
    transform: rotate(181deg);
    margin: 0 auto;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    display: block;
    position: absolute;
    width: 50%;
    transform: rotate(181deg);
    margin: 0 auto;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #fff;
}

.menu__box {
    left: 45px!important;
}

#menu__toggle:checked~.menu__btn>span, #menu__toggle:checked~.menu__btn>span::before, #menu__toggle:checked~.menu__btn>span::after {
    background-color: #fff;
    width: 50%;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.et-fixed-header {
    position: fixed;
    width: 100%;
    background: #e4e4e4;
    z-index: 99999;
    height: 80px;
}

#hamburger-menu {
    display: block;
}

#Top .col-md-2 img {
    width: 80px;
    float: left;
}

.contents h5 {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    width: 80%;
    margin-top: 80px!important;
    color: #432a75;
    margin: 0 auto;
}

.contents h5 span {
    color: #F05879;
}

.contents span.title {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    top: -7px;
    font-style: normal;
    font-weight: 600;
    font-size: 175px;
    letter-spacing: 0.08em;
    opacity: 0.09;
    color: #F05879;
}

img.img-responsive.lf {
    width: 400px;
    transform: rotate(56deg);
    position: absolute;
    left: -200px;
    top: 10px;
}

img.img-responsive.rf {
    width: 400px;
    transform: rotate(320deg);
    position: absolute;
    right: -210px;
    top: 30px;
}

#Top {
    overflow-x: hidden;
}

#Top .row:nth-of-type(1) {
    padding-top: 10px;
    padding-bottom: 45px;
    max-height: 0px;
}

span.title1 {
    position: absolute;
    left: 0px;
    right: -46px;
    text-align: right;
    top: 312px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    z-index: 999;
    opacity: 0.2;
    color: #F05879;
}

#skills {
    position: relative;
    margin-top: 0px;
}

span.title2 {
    position: absolute;
    left: 0px;
    right: -58px;
    text-align: right;
    top: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    z-index: 999;
    opacity: 0.3;
    color: #F05879;
}

span.title3 {
    position: absolute;
    left: 30px;
    right: 0px;
    text-align: left;
    top: 298px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    z-index: 999;
    opacity: 0.3;
    color: #F05879;
}

span.title4 {
    position: absolute;
    left: 30px;
    right: 0px;
    text-align: left;
    top: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    z-index: 999;
    opacity: 0.3;
    color: #b368ad;
}

span.title0 {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: right;
    top: 75px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    z-index: 999;
    opacity: 0.6;
    color: #b368ad;
}

span.title5 {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    top: 430px;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    z-index: 999;
    opacity: 0.3;
    color: #F05879;
}

#skills {
    position: relative;
}

#skills .title {
    position: absolute;
    left: 0px;
    top: 30px;
    right: 0px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    letter-spacing: 0.08em;
    opacity: 0.09;
    line-height: 353px;
    color: #F05879;
}

#Links .col-md-6:nth-of-type(2), #NojQ .col-md-6:nth-of-type(2) {
    padding: 100px;
    padding-bottom: 0px;
}

#Links .bff, #NojQ .bff {
    top: -80px;
    right: -175px;
    left: auto;
    position: absolute;
    width: 180px;
    transform: rotate(225deg);
}

#Links .col-md-4, #NojQ .col-md-4 {
    margin-top: 150px;
    float: left;
    position: absolute;
    right: 0px;
}

#Links .vv, #NojQ .vv {
    float: left;
    left: -180px;
}

#Links .col-md-6:nth-of-type(1), #NojQ .col-md-6:nth-of-type(1) {
    margin-top: 50px;
}

#Links .content img, #NojQ .content img {
    float: right;
}

#Links .content p, #NojQ .content p {
    clear: right;
}

.docSlider-button {
    background: #752b82;
}

#NojQ p.no {
    text-align: right;
}

#Top li a:hover {
    color: #F05879!important;
    text-decoration: none!important;
}

.content a:hover {
    background-color: #F05879!important;
    border-color: #F05879!important;
}

#Top .active a {
    background: #fff;
    color: #7d2c82!important;
    border: 1px solid #ddd;
}

#skills .col-md-6 {
    padding-top: 80px;
}

#skills .col-md-6:nth-of-type(1) {
    margin-top: 10px;
}

.social li:nth-of-type(1) img:hover {
    content: url('../images/fb-hover.png');
}

.social li:nth-of-type(2) img:hover {
    content: url('../images/ln-hover.png');
}

.social li:nth-of-type(3) img:hover {
    content: url('../images/me-hover.png');
}

.row.contents {
    margin-top: 50px;
}

#Links .col-md-6:nth-of-type(2) {
    padding: 80px;
}

#skills .col-md-6:nth-of-type(2) img {
    float: none;
    margin: 0 auto;
}

#Start .rightimg img.bg, #Keypress .rightimg img.bg {
    width: 53%;
}

span.title6 {
    position: absolute;
    left: 50px;
    right: 0px;
    text-align: left;
    top: 97px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    z-index: 999;
    opacity: 0.3;
    line-height: 550px;
    color: #432a75;
}

span.title06 {
    position: absolute;
    left: 0px;
    right: 50px;
    text-align: right;
    top: -200px;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    z-index: 999;
    opacity: 0.3;
    line-height: 550px;
    color: #432a75;
}

.docSlider-id_top .contents span.title, .id_skills #skills .title, .contact-us span.title, .docSlider-id_NojQ span.title, .docSlider-index_0 .Top span.title, .docSlider-page_1 .Top span.title {
    visibility: visible;
    animation: slideInLeft 0.5s;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.docSlider-id_NojQ .NojQ .vv img, .docSlider-id_Links .Links .vv img {
    visibility: visible;
    animation: slideInRight 1s;
}

@keyframes slideInFromRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.docSlider-id_NojQ .NojQ .rr img, .docSlider-id_Links .Links .rr img {
    visibility: visible;
    animation: slide 1s;
}

@keyframes slide {
    0% {
        opacity: 0.3;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.docSlider-page_5 .Start .right, .docSlider-page_3 .Keypress .right {
    visibility: visible;
    animation: slideInLeft 1.5s;
}

.docSlider-page_5 .Start .bg, .docSlider-page_3 .Keypress .bg {
    visibility: visible;
    animation: slideInRight 1.5s;
}

span.title7 {
    position: absolute;
    left: 0px;
    right: 100px;
    text-align: right;
    top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    z-index: 999;
    opacity: 0.3;
}

span.title8 {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    top: 535px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    z-index: 999;
    opacity: 0.3;
    color: #F05879;
}

/* about css */

.about .sec2 h3 {
    font-size: 70px;
}

.about .sec2 h3 span {
    margin-left: 0px;
    font-size: 70px;
}

.about img.img-responsive.rf {
    transform: rotate(287deg);
    position: absolute;
    right: -210px;
    top: 80px;
}

.profile .col-md-5 img {
    width: 55%!important;
    float: right;
}

.profile p {
    font-size: 14px;
    text-align: justify;
    margin-top: 5px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
}

.profile .rm {
    background: #752b82;
    border: 1px solid #752b82;
    box-sizing: border-box;
    border-radius: 20px;
    float: left;
    margin-top: 5px;
    padding: 10px 20px;
    color: #fff!important;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

.profile .rm:hover {
    background: #f05879;
    border-color: #f05879;
    color: #fff!important;
}

.carousel-control.right, .carousel-control.left {
    top: 45%;
}

.about .item {
    margin-bottom: 20px;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    top: 30%;
    padding-bottom: 30px;
    bottom: auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none!important;
}

.carousel-caption h3 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.265em;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 0px;
}

.carousel-caption h3 span {
    color: #fff;
}

#second {
    margin-top: 0px;
}

.carousel-control {
    opacity: 1!important;
}

.item .gg {
    overflow: hidden;
    width: auto;
    height: auto;
}

.item .gg img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    border-radius: 10px;
}

.item .gg:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@keyframes topBottom {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.item {
    margin-bottom: 30px;
}

.w3-content {
    max-width: 100%;
}

#Scroller h2 {
    color: #752B82;
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    position: relative;
}

#Scroller h2 span {
    background: #f05879;
    width: 70%;
    height: 13px;
    display: inline-block;
}

.NojQ span.title {
    position: absolute;
    left: 0px;
    right: 100px;
    text-align: right;
    top: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 85px;
    letter-spacing: 0.08em;
    opacity: 0.09;
    color: #F05879;
}

/* cast css */

.case h2.title {
    float: right;
}

.case .sec2 h3 {
    font-size: 70px;
    margin-top: 30px;
}

.third img {
    float: right;
}

.case .sec2 h3 span {
    display: inline-block;
    margin-left: 0px;
}

.case #second {
    margin-top: 0px;
}

.case .Scroller {
    position: relative;
}

.case .Scroller span.title {
    position: absolute;
    left: 0px;
    top: 60px;
    font-style: normal;
    text-align: right;
    right: 0px;
    font-weight: 700;
    font-size: 150px;
    font-family: 'Poppins', sans-serif!important;
    letter-spacing: 0.08em;
    opacity: 0.09;
    line-height: 0px;
    color: #F05879;
}

.row.sty {
    margin-top: 20px;
}

.case .Scroller .col-md-4 p {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
}

.case .Scroller .col-md-4 h3 {
    text-align: center;
    color: #752B82;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 0px;
}

.sty h2 {
    color: #F05879!important;
    letter-spacing: 10px;
    font-weight: 700;
    margin-bottom: 30px!important;
    text-align: center;
    font-size: 40px!important;
}

.tw h4 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: #000;
}

.tw p {
    font-size: 14px;
    text-align: left;
    margin-top: 0px;
    margin-left: 150px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
}

.tw b, .tw strong {
    font-weight: 700;
    display: block;
    color: #752b82;
    font-size: 17px;
}

.tw img {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 35px;
}

.tw .rm {
    background: #752b82;
    border: 1px solid #752b82;
    box-sizing: border-box;
    border-radius: 20px;
    float: none;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px 20px;
    color: #fff!important;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

.row.tw {
    text-align: center;
}

.tw .rm:hover {
    background: #f05879;
    border-color: #f05879;
    color: #fff!important;
}

.tw ul li, ol li {
    font-size: 14px;
    text-align: left;
    margin-top: 17px;
    margin-left: 150px;
    font-weight: 300;
    line-height: 17px;
    color: #000;
}

.tw ul {
    list-style-type: circle;
    padding-left: 40px;
}

.tw blockquote {
    margin-left: 150px;
}

.tw blockquote p {
    margin-left: 50px;
}

.tw blockquote footer {
    color: #f05879;
}

.case #Scroller .row.et {
    padding-top: 31px;
    padding-bottom: 150px;
    box-shadow: 0px 15px 10px -15px #c3c1c1;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.about .profile .close {
    line-height: 0;
}

.about .profile .modal {
    z-index: 9999;
}

a#myBtn {
    display: none;
}

.case .carousel {
    margin-top: 0px;
}

.triangle-5 {
    width: 60px;
    position: absolute;
    left: 260px;
    top: -7px;
    transform: rotate(118deg);
    height: 30px;
    border-top: solid 30px rgb(240 88 121);
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}

.triangle {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

.triangle-4 {
    width: 60px;
    height: 30px;
    border-bottom: solid 30px rgb(117 43 130);
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    position: absolute;
    right: -16px;
    top: 0px;
    transform: rotate(42deg);
}

.row.profile {
    margin-top: 0px;
}

.home .first, .about .first, .case .first {
    animation: topBottom 3s infinite;
}

.home .second, .sec2 .second, .about #contact-us .second, .case #contact-us .second {
    animation: topBottom 3s infinite;
}

.about .profile h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 54px;
    clear: left;
    display: block;
    margin: 0 auto;
    left: 0px;
    color: #752b82;
    text-align: center;
    float: right;
    position: absolute;
    right: -240px;
    bottom: -94px;
}

.about .profile h2 span {
    color: #F05879;
}

.triangle-6 {
    width: 60px;
    position: absolute;
    left: 0px;
    margin: 0 auto;
    right: -300px;
    bottom: -25px;
    top: auto;
    transform: rotate(256deg);
    height: 30px;
    border-top: solid 30px rgb(240 88 121);
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}

.profile h3 {
    color: #752B82;
    font-size: 60px;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 90px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.profile h3 span {
    color: #f05879;
    font-size: 60px;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 10px;
    display: block;
}

.about img.img-responsive.lf {
    top: 35px;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    background-position: center;
    transform: rotate(17deg);
    right: 10px;
    background: url(../images/humberger.png);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    background-size: contain;
}

.hamburger-menu {
    display: block;
    position: fixed;
    right: 0px;
    width: 300px;
    height: auto;
    z-index: 9999;
}

.menu__item {
    display: block;
    padding: 5px;
    color: #752b82;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#menu__toggle:checked~.menu__box {
    top: 45px;
    left: 0px;
    width: 120px;
    border-radius: 5px;
    height: 120px;
    right: 0px!important;
}

.menu__box {
    padding-left: 0px;
    padding-top: 10px;
}

.menu__item:hover {
    background-color: transparent;
    color: #F05879;
}

#menu__toggle:checked~.menu__box {
    background: #fff;
    visibility: visible;
    box-shadow: 0 0 5px #9d3b3b;
}

.docSlider-page_1 #hamburger-menu {
    display: none;
}

body {
    overflow-y: hidden;
}

@-ms-viewport {
    width: device-width;
}

#slider {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 0px;
    border: 0px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#slides .slide_1 {
    background: url('../images/aboutslider/img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#slides .slide_2 {
    background: url('../images/aboutslider/img-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#slides .slide_3 {
    background: url('../images/aboutslider/img-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#slides .slide_4 {
    background: url('../images/aboutslider/img-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#slides .slide_5 {
    background: url('../images/aboutslider/img-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#controls {
    margin: -340px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 1;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2), #slide2:checked~#controls label:nth-child(3), #slide3:checked~#controls label:nth-child(4), #slide4:checked~#controls label:nth-child(1) {
    background: url(../images/right-arrow.png) no-repeat;
    float: right;
    margin: 0px 0px 0 0;
    margin-right: 30px;
    display: block;
    background-position: right;
    background-size: contain;
}

#slide1:checked~#controls label:nth-last-child(2), #slide2:checked~#controls label:nth-last-child(3), #slide3:checked~#controls label:nth-last-child(4), #slide4:checked~#controls label:nth-last-child(1) {
    background: url(../images/right-arrow.png) no-repeat;
    float: left;
    margin: 0px 0 0 0px;
    display: block;
    transform: rotate(-180deg);
    background-position: left;
    margin-left: 30px;
    background-size: contain;
}

#bullets {
    margin: 0px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1), #slide2:checked~#bullets label:nth-child(2), #slide3:checked~#bullets label:nth-child(3), #slide4:checked~#bullets label:nth-child(1) {
    background: #444;
}

#slides .inner {
    display: block;
}

#slider h2 {
    color: #fff;
    font-size: 65px;
    text-align: center;
    letter-spacing: 0.265em;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 0px;
}

.case .Scroller {
    position: relative;
    padding-bottom: 20px;
}

#NojQ .col-md-6 {
    margin-top: 80px;
}

.NojQ span.title {
    font-size: 150px;
}

#NojQ .content img {
    width: 50%;
}

#Links .col-md-6 {
    margin-top: 65px;
}

#Links p.no {
    margin-top: 140px;
}

.Scroller .header li a {
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    text-transform: uppercase;
    padding: 8px 30px;
    color: #7d2c82!important;
    font-weight: bold;
    background: #fcdee4;
    font-size: 12.8205px;
    line-height: 19px;
    display: block;
}

.Scroller .header li {
    display: inline-block;
    margin-right: 10px;
}

.Scroller .header ul {
    list-style-type: none;
    padding-left: 0px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.Scroller .header .col-md-2 img {
    width: 80px;
    float: right;
}

.Scroller .header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Scroller .header li a:hover {
    color: #F05879!important;
    text-decoration: none!important;
}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 20%;
}

section {
    background: url('../images/demo-bg-1.png')!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

#ham-navigation a {
    color: #752b82;
    text-align: center;
    text-decoration: none;
}

.hamburger-menu-button {
    padding: 0px;
    display: block;
    background-repeat: no-repeat;
    position: fixed;
    margin-top: 10px;
    border-radius: 5px;
    background-position: center;
    transform: rotate(17deg);
    right: 0px;
    background: url(../images/humberger.png);
    width: 60px;
    background-size: contain;
    height: 60px;
    z-index: 9999;
    box-sizing: content-box;
    border: 0px;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    outline: 0;
}

.hamburger-menu-button-open {
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -12px;
}

.hamburger-menu-button-open, .hamburger-menu-button-open::before, .hamburger-menu-button-open::after {
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.hamburger-menu-button-open::before, .hamburger-menu-button-open::after {
    left: 0;
    content: "";
    width: 14px;
}

.hamburger-menu-button-open::before {
    top: 6px;
}

.hamburger-menu-button-open::after {
    bottom: 6px;
}

.hamburger-menu-button-close {
    background: transparent;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hamburger-menu-button-close::before {
    -webkit-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg);
}

.hamburger-menu-button-close::after {
    -webkit-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg);
}

.ham-menu {
    position: absolute;
    top: 62px;
    left: auto;
    right: 48px;
    margin: auto;
    border-radius: 5px;
    z-index: 9999;
    max-width: 570px;
    overflow: hidden;
}

.ham-menu ul {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    background-color: #3896d3;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ham-menu.on ul {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.ham-menu ul {
    font-size: 0;
    background: #fff;
    border-radius: 5px;
    visibility: visible;
    box-shadow: 0 0 5px #9d3b3b;
    height: 130px;
    width: 130px;
    padding-left: 0px
}

.ham-menu ul li {
    display: block;
}

.ham-menu ul li:first-child .ham-menu ul li a {
    padding-left: 30px;
}

.ham-menu ul li a {
    padding: 10px;
    font-family: 'Poppins';
    display: block;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

.ham-menu ul li.active a, .ham-menu ul li a:hover {
    background-color: #fff;
    color: #f05879!important;
}

.carousel-control-next-icon {
    background-image: url(../images/right-arrow.png);
}

.trigger {
    display: none;
}

.carousel-inner>.item>a>img {
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    width: 100%!important;
    height: 100vh!important;
    max-width: none;
    object-fit: cover;
    overflow: hidden;
}

#second .item {
    margin-bottom: 0px!important;
}

#second .carousel-caption {
    display: none;
}

#second .carousel-control.right img {
    width: 30%;
    display: block;
    right: 0px;
    float: right;
    right: 15px;
    top: 0px;
}

#second .carousel-control.left img {
    width: 30%;
    display: block;
    right: 0px;
    float: left;
    left: 15px;
    transform: rotate(180deg);
    top: 0px;
}

#second #carousel .item {
    height: 100vh;
}

.carousel-control.right {
    right: 15px;
}

.carousel-control.left {
    left: 15px;
}

.carousel-indicators li {
    border: 1px solid #F05879!important;
}

.carousel-indicators .active {
    background-color: #F05879!important;
}

.about section {
    background: url('../images/bg-1.png')!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

.case section {
    background: url('../images/bg-1.png')!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

#par .parallax-eatlocal {
    background: url(../images/casestudy/eatlocal/eatlocal-cover.jpg)fixed 100%!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

#par .parallax-f4u {
    background: url(../images/casestudy/financeu/f4u-cover.jpg)fixed 100%!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

#par .parallax-utap {
    background: url(../images/casestudy/utap/utap-cover.jpg)fixed 100%!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

#par .parallax-hellomom {
    background: url(../images/casestudy/hellomom/hellomom-cover.jpg)fixed 100%!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

.lb-data .lb-close {
    position: absolute;
    top: -40px;
    right: 0px;
}

.lightbox {
    position: absolute;
    left: 0;
    width: max-content!important;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    z-index: 10000;
    font-weight: 400;
}